In [31]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [32]:
cols = df.columns
cols

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [33]:
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [34]:
# Total number of players is the unique values of screen name
unique_names = df["SN"].unique()
player_count = len (unique_names)
player_count

576

In [35]:
# Using a dict of lists to create DF
total_players_df = pd.DataFrame({
    "Total Players": [player_count]
})
total_players_df

   Total Players
0            576

In [36]:
# Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, number of purchases, total revenue
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

In [37]:
# Number of Unique Items is the length of unique items from 'Item Name'
unique_items = len (df["Item Name"].unique())
unique_items

179

In [38]:
# Average price is the man value of all prices
average_price=df["Price"].mean()
average_price

3.050987179487176

In [39]:
# Number of purchases is the length of purchase ID, each one of these is unique
number_purchases=len(df["Purchase ID"])
number_purchases

780

In [40]:
# Total revenue is the sum of all the prices
total_revenue=df["Price"].sum()
total_revenue

2379.77

In [41]:
# Create a Summary DataFrame using a dictionary of lists
summary_df = pd.DataFrame({
    "Unique Items": [unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [number_purchases],
    "Total Revenue": [total_revenue]
})
summary_df

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           179       3.050987                  780        2379.77

In [42]:
### Come back to formatting

In [43]:
summary_df.dtypes

Unique Items             int64
Average Price          float64
Number of Purchases      int64
Total Revenue          float64
dtype: object

In [44]:
# Gender Demographics
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

In [45]:
df["Gender"].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [46]:
# Create a dataframe that locs in the columns I'm interested in (SN and gender)
SN_gender_df=df.loc[:,["SN", "Gender"]]
SN_gender_df.head()

              SN Gender
0        Lisim78   Male
1    Lisovynya38   Male
2     Ithergue48   Male
3  Chamassasya86   Male
4      Iskosia90   Male

In [47]:
# Duplicates of SN in here
SN_gender_df.count()

SN        780
Gender    780
dtype: int64

In [48]:
# Proof of duplicates, values greater than in starter jupyter notebook
SN_gender_df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [49]:
# Dropping duplicates from screen name columns
SN_gender_df = SN_gender_df.drop_duplicates( "SN", keep="last")


# Value counts of gender in this dataframe will return number of M, F and O with no duplicates
gender_totals = SN_gender_df["Gender"].value_counts()
gender_totals

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [50]:
# Calculating the percentage of each as a comparison to total players
gender_percentages = (gender_totals / player_count)*100
gender_percentages

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [51]:
# Create DF 
gender_demographics_df = pd.DataFrame({
    "Total Count": gender_totals,
    "Percentage of Players": gender_percentages
})
gender_demographics_df

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [52]:
### Come back to formatting

In [53]:
# Purchasing Analysis (Gender)
# Run basic calculations to obtain purchase count, avg. purchase price, total purchase value, avg. purchase total per person - all by gender
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

In [54]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [55]:
# Interested in gender, price. Create DF containing these
price_gen_df = df.loc[:,["Gender", "Price"]]
price_gen_df.head()

  Gender  Price
0   Male   3.53
1   Male   1.56
2   Male   4.88
3   Male   3.27
4   Male   1.44

In [56]:
# Groupby gender
grouped_gender = price_gen_df.groupby(["Gender"])
# Need to apply aggregates to the groupby

In [57]:
# Calculates average purchase price by gender
av_purch_price = grouped_gender.mean()
av_purch_price

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [58]:
# Extracting just price column
av_purch_price = av_purch_price["Price"]
av_purch_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [59]:
# Purchase count is just total number of purchases for each gender, can use count function
purch_count = grouped_gender.count()
purch_count

                       Price
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15

In [60]:
# Extracting just price column
purch_count = purch_count["Price"]
purch_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [61]:
# Total purchase value is the sum of of the prices
total_purch_value = grouped_gender.sum()
total_purch_value

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [63]:
# Extracting just price column
total_purch_value = total_purch_value["Price"]
total_purch_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [64]:
# Avg Total Purchase per Person = total purchase value divided by total number of that gender
av_total_purch_pper = total_purch_value / gender_demographics_df["Total Count"]
av_total_purch_pper

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [65]:
# Create a summary data frame to hold the results

purch_analysis_gender_df = pd.DataFrame({
    "Purchase Count": purch_count,
    "Average Purchase Price": av_purch_price,
    "Total Purchase Value": total_purch_value,
    "Avg Total Purchase per Person": av_total_purch_pper
})
purch_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [66]:
### Come back to formatting

In [67]:
# Age Demographics
# Establish bins for ages
# Categorize the existing players using the age bins. Hint: use pd.cut()
# Calculate the numbers and percentages by age group
# Create a summary data frame to hold the results
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table