In [35]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

In [36]:
# Total number of players is the unique values of screen name
unique_names = df["SN"].unique()
player_count = len (unique_names)

In [37]:
# Using a dict of lists to create DF
total_players_df = pd.DataFrame({
    "Total Players": [player_count]
})
# Display
total_players_df

   Total Players
0            576

In [38]:
# Purchasing Analysis (Total)

In [39]:
# Number of Unique Items is the length of unique items from 'Item Name'
unique_items = len (df["Item Name"].unique())

# Average price is the man value of all prices
average_price=df["Price"].mean()

# Number of purchases is the length of purchase ID, each one of these is unique
number_purchases=len(df["Purchase ID"])

# Total revenue is the sum of all the prices
total_revenue=df["Price"].sum()

In [41]:
# Create a Summary DataFrame using a dictionary of lists
summary_df = pd.DataFrame({
    "Unique Items": [unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [number_purchases],
    "Total Revenue": [total_revenue]
})
# Formatting
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

# Display DataFrame
summary_df

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780     $2,379.77

In [44]:
# Gender Demographics

In [45]:
# Create a dataframe that locs in the columns I'm interested in (SN and gender)
SN_gender_df=df.loc[:,["SN", "Gender"]]

In [46]:
# Dropping duplicates from screen name columns
SN_gender_df = SN_gender_df.drop_duplicates( "SN", keep="last")

In [47]:
# Value counts of gender in this dataframe will return number of M, F and O with no duplicates
gender_totals = SN_gender_df["Gender"].value_counts()

# Calculating the percentage of each as a comparison to total players
gender_percentages = (gender_totals / player_count)*100

In [48]:
# Create DF 
gender_demographics_df = pd.DataFrame({
    "Total Count": gender_totals,
    "Percentage of Players": gender_percentages
})
gender_demographics_df

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [18]:
# Purchasing Analysis (Gender)

In [19]:
# Interested in gender, price. Create DF containing these
price_gen_df = df.loc[:,["Gender", "Price"]]

In [20]:
# Groupby gender
grouped_gender = price_gen_df.groupby(["Gender"])
# Need to apply aggregates to the groupby

In [31]:
# Calculates average purchase price by gender and extracting just price column
av_purch_price = grouped_gender.mean()["Price"]
av_purch_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [32]:
# Purchase count is just total number of purchases for each gender, can use count function
purch_count = grouped_gender.count()["Price"]
purch_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [33]:
# Total purchase value is the sum of the prices
total_purch_value = grouped_gender.sum()["Price"]
total_purch_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [34]:
# Avg Total Purchase per Person = total purchase value divided by total number of that gender
av_total_purch_pper = total_purch_value / gender_demographics_df["Total Count"]
av_total_purch_pper

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [35]:
# Create a summary data frame to hold the results
purch_analysis_gender_df = pd.DataFrame({
    "Purchase Count": purch_count,
    "Average Purchase Price": av_purch_price,
    "Total Purchase Value": total_purch_value,
    "Avg Total Purchase per Person": av_total_purch_pper
})
purch_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [36]:
### Come back to formatting

In [37]:
# Age Demographics

In [38]:
# Create a df with columns interested in - age and screen name
age_df = df.loc[:,["SN", "Age"]]

In [41]:
# Drop the duplicate screen names
age_df = age_df.drop_duplicates("SN", keep="last")

In [42]:
# For reference, max age so know what value last bin should take
print(age_df["Age"].max())
print(age_df["Age"].min())

45
7

In [47]:
# Create the bins in which Data will be held, need 8 so 9 numbers in brackets
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-38", "40+"]

In [49]:
# Place the data series into a new column inside of the DataFrame
age_df["Age Groups"]=pd.cut(age_df["Age"], bins, labels=group_labels)
age_df.head()

              SN  Age Age Groups
1    Lisovynya38   40        40+
2     Ithergue48   24      20-24
3  Chamassasya86   24      20-24
4      Iskosia90   23      20-24
6      Itheria73   36      35-38

In [50]:
# Total count of each age group is the value count of that column
age_count=age_df["Age Groups"].value_counts()
age_count

20-24    258
15-19    107
25-29     77
30-34     52
35-38     31
10-14     22
<10       17
40+       12
Name: Age Groups, dtype: int64

In [51]:
# Percentage of players in each age group is is count divide by total players calculated earlier
age_percentages = (age_count / player_count)*100
age_percentages

20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-38     5.381944
10-14     3.819444
<10       2.951389
40+       2.083333
Name: Age Groups, dtype: float64

In [53]:
# Create df
age_demographics_df = pd.DataFrame({
    "Total Count": age_count,
    "Percentage of Players": age_percentages
})

In [54]:
# Using reindex to change order of index, 
age_demographics_df = age_demographics_df.reindex(index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-38", "40+"])
age_demographics_df

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-38           31               5.381944
40+             12               2.083333

In [55]:
### Come back to formatting

In [56]:
# Purchasing Analysis (Age)

In [57]:
# Interested in age, price. Create DF containing these
price_age_df = df.loc[:,["Age", "Price"]]

In [58]:
# Place the data series into a new column inside of the DataFrame
price_age_df["Age Groups"]=pd.cut(price_age_df["Age"], bins, labels=group_labels)
price_age_df.head()

   Age  Price Age Groups
0   20   3.53      20-24
1   40   1.56        40+
2   24   4.88      20-24
3   24   3.27      20-24
4   23   1.44      20-24

In [59]:
# Groupby Age Groups
grouped_age = price_age_df.groupby(["Age Groups"])
# Apply aggregates

In [60]:
# Purchase count is just total number of purchases for each age, can use count function on one column
purch_count_age = grouped_age.count()["Price"]
purch_count_age

Age Groups
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-38     41
40+       13
Name: Price, dtype: int64

In [61]:
# Average purchase price
av_purch_price_age = grouped_age.mean()["Price"]
av_purch_price_age

Age Groups
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-38    3.601707
40+      2.941538
Name: Price, dtype: float64

In [62]:
# Total Purchase Value
total_purch_value_age = grouped_age.sum()["Price"]
total_purch_value_age

Age Groups
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-38     147.67
40+        38.24
Name: Price, dtype: float64

In [63]:
# Average Total Purchase per Person
av_total_purch_pper_age = total_purch_value_age / age_demographics_df["Total Count"]
av_total_purch_pper_age

Age Groups
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-38    4.763548
40+      3.186667
dtype: float64

In [64]:
# Create a summary data frame to hold the results

purch_analysis_age_df = pd.DataFrame({
    "Purchase Count": purch_count_age,
    "Average Purchase Price": av_purch_price_age,
    "Total Purchase Value": total_purch_value_age,
    "Avg Total Purchase per Person": av_total_purch_pper_age
})
purch_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-38,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [65]:
## Come back to formatting

In [66]:
# Top Spenders

In [67]:
# Interested in screen name and price. Create DF containing these
SN_df = df.loc[:,["SN", "Price"]]

In [68]:
# Group by screen name
SN_grouped_df = SN_df.groupby("SN")
# Apply aggregates

In [69]:
# Next 4 steps same as other purchasing analysis parts
purch_count_SN = SN_grouped_df["Price"].count()

In [70]:
av_purch_price_SN = SN_grouped_df["Price"].mean()

In [71]:
total_purch_value_SN = SN_grouped_df["Price"].sum()

In [73]:
# Create a summary data frame to hold the results
top_spenders_df = pd.DataFrame({
    "Purchase Count": purch_count_SN,
    "Average Purchase Price": av_purch_price_SN,
    "Total Purchase Value": total_purch_value_SN,
})

In [74]:
# Use sort_values function to pass in the column name which you want to sort the DF on with ascending = False
sorted_spenders_df = top_spenders_df.sort_values(by= 'Total Purchase Value' , ascending = False)
sorted_spenders_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [68]:
## Come back to formatting

In [75]:
# Most Popular Items

In [76]:
# Create new df from original df
ID_df = df.loc[:,["Item ID", "Item Name", "Price"]]

In [77]:
# Groupby item ID and name
ID_grouped = ID_df.groupby(["Item ID", "Item Name"])
# Apply aggregates

In [78]:
# A count will return how many times each game was purchased
purch_count_MP = ID_grouped.count()

In [79]:
# Item price is the sum divided by how many purchased
item_price = ID_grouped.sum() / purch_count_MP

In [80]:
# Total purchase value is purch count * item price
total_purch_value_MP = purch_count_MP * item_price

In [81]:
# Create a summary data frame to hold the results
most_popular_df = pd.DataFrame({
    "Purchase Count": purch_count_MP["Price"],
    "Item Price": item_price["Price"],
    "Total Purchase Value": total_purch_value_MP["Price"]
})

In [82]:
# Use sort_values function to pass in the column name which you want to sort the DF on with ascending = False
sorted_popular_df = most_popular_df.sort_values(by= 'Total Purchase Value' , ascending = False)
sorted_popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80

In [77]:
## Come back to formatting

In [83]:
# Most Profitable Items

In [85]:
# Sort the above by total purchase value instead
sorted_profitable_df = most_popular_df.sort_values(by= 'Total Purchase Value' , ascending = False)
sorted_profitable_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80