In [186]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

In [187]:
# Total number of players is the unique values of screen name
unique_names = df["SN"].unique()
player_count = len (unique_names)

In [188]:
# Using a dict of lists to create DF
total_players_df = pd.DataFrame({
    "Total Players": [player_count]
})
# Display
total_players_df

   Total Players
0            576

In [189]:
# Purchasing Analysis (Total)

In [190]:
# Number of Unique Items is the length of unique items from 'Item Name'
unique_items = len (df["Item Name"].unique())

# Average price is the man value of all prices
average_price=df["Price"].mean()

# Number of purchases is the length of purchase ID, each one of these is unique
number_purchases=len(df["Purchase ID"])

# Total revenue is the sum of all the prices
total_revenue=df["Price"].sum()

In [191]:
# Create a Summary DataFrame using a dictionary of lists
summary_df = pd.DataFrame({
    "Unique Items": [unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [number_purchases],
    "Total Revenue": [total_revenue]
})

# Formatting
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

# Display DataFrame
summary_df

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780     $2,379.77

In [192]:
# Gender Demographics

In [193]:
# Create a dataframe that locs in the columns I'm interested in (SN and gender)
SN_gender_df=df.loc[:,["SN", "Gender"]]

In [194]:
# Dropping duplicates from screen name columns
SN_gender_df = SN_gender_df.drop_duplicates( "SN", keep="last")

In [195]:
# Value counts of gender in this dataframe will return number of M, F and O with no duplicates
gender_totals = SN_gender_df["Gender"].value_counts()

# Calculating the percentage of each as a comparison to total players
gender_percentages = (gender_totals / player_count)*100

In [196]:
# Create DF 
gender_demographics_df = pd.DataFrame({
    "Total Count": gender_totals,
    "Percentage of Players": gender_percentages
})

# Formatting
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:,.2f}%".format)

# Display DataFrame
gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [197]:
# Purchasing Analysis (Gender)

In [198]:
# Interested in gender, price. Create DF containing these
price_gen_df = df.loc[:,["Gender", "Price"]]

In [199]:
# Groupby gender
grouped_gender = price_gen_df.groupby(["Gender"])
# Need to apply aggregates to the groupby

In [200]:
# Calculates average purchase price by gender and extracting just price column
av_purch_price = grouped_gender.mean()["Price"]

# Purchase count is just total number of purchases for each gender, can use count function
purch_count = grouped_gender.count()["Price"]

# Total purchase value is the sum of the prices
total_purch_value = grouped_gender.sum()["Price"]

# Avg Total Purchase per Person = total purchase value divided by total number of that gender
av_total_purch_pper = total_purch_value / gender_demographics_df["Total Count"]

In [201]:
# Create a summary data frame to hold the results
purch_analysis_gender_df = pd.DataFrame({
    "Purchase Count": purch_count,
    "Average Purchase Price": av_purch_price,
    "Total Purchase Value": total_purch_value,
    "Avg Total Purchase per Person": av_total_purch_pper
})

# Formatting
purch_analysis_gender_df["Average Purchase Price"] = purch_analysis_gender_df["Average Purchase Price"].map("${:,.2f}".format)
purch_analysis_gender_df["Total Purchase Value"] = purch_analysis_gender_df["Total Purchase Value"].map("${:,.2f}".format)
purch_analysis_gender_df["Avg Total Purchase per Person"] = purch_analysis_gender_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

# Display DataFrame
purch_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [202]:
# Age Demographics

In [203]:
# Create a df with columns interested in - age and screen name
age_df = df.loc[:,["SN", "Age"]]

In [204]:
# Drop the duplicate screen names
age_df = age_df.drop_duplicates("SN", keep="last")

In [205]:
# For reference, max age so know what value last bin should take
print(age_df["Age"].max())
print(age_df["Age"].min())

45
7

In [206]:
# Create the bins in which Data will be held, need 8 so 9 numbers in brackets
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-38", "40+"]

In [207]:
# Place the data series into a new column inside of the DataFrame
age_df["Age Groups"]=pd.cut(age_df["Age"], bins, labels=group_labels)

In [208]:
# Total count of each age group is the value count of that column
age_count=age_df["Age Groups"].value_counts()

# Percentage of players in each age group is is count divide by total players calculated earlier
age_percentages = (age_count / player_count)*100

In [209]:
# Create df
age_demographics_df = pd.DataFrame({
    "Total Count": age_count,
    "Percentage of Players": age_percentages
})

#Formatting
age_demographics_df["Percentage of Players"] = age_demographics_df["Percentage of Players"].map("{:,.2f}%".format)

In [210]:
# Using reindex to change order of index, 
age_demographics_df = age_demographics_df.reindex(index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-38", "40+"])

#Display DataFrame
age_demographics_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-38           31                 5.38%
40+             12                 2.08%

In [211]:
# Purchasing Analysis (Age)

In [212]:
# Interested in age, price. Create DF containing these
price_age_df = df.loc[:,["Age", "Price"]]

In [213]:
# Place the data series into a new column inside of the DataFrame
price_age_df["Age Groups"]=pd.cut(price_age_df["Age"], bins, labels=group_labels)

In [214]:
# Groupby Age Groups
grouped_age = price_age_df.groupby(["Age Groups"])
# Apply aggregates

In [215]:
# Purchase count is just total number of purchases for each age, can use count function on one column
purch_count_age = grouped_age.count()["Price"]

# Average purchase price
av_purch_price_age = grouped_age.mean()["Price"]

# Total Purchase Value
total_purch_value_age = grouped_age.sum()["Price"]

# Average Total Purchase per Person
av_total_purch_pper_age = total_purch_value_age / age_demographics_df["Total Count"]

In [216]:
# Create a summary data frame to hold the results
purch_analysis_age_df = pd.DataFrame({
    "Purchase Count": purch_count_age,
    "Average Purchase Price": av_purch_price_age,
    "Total Purchase Value": total_purch_value_age,
    "Avg Total Purchase per Person": av_total_purch_pper_age
})

# Formatting
purch_analysis_age_df["Average Purchase Price"] = purch_analysis_age_df["Average Purchase Price"].map("${:,.2f}".format)
purch_analysis_age_df["Total Purchase Value"] = purch_analysis_age_df["Total Purchase Value"].map("${:,.2f}".format)
purch_analysis_age_df["Avg Total Purchase per Person"] = purch_analysis_age_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

# Display DataFrame
purch_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-38,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [217]:
# Top Spenders

In [218]:
# Interested in screen name and price. Create DF containing these
SN_df = df.loc[:,["SN", "Price"]]

In [219]:
# Group by screen name
SN_grouped_df = SN_df.groupby("SN")
# Apply aggregates

In [220]:
# Next 4 steps same as other purchasing analysis parts
purch_count_SN = SN_grouped_df["Price"].count()

av_purch_price_SN = SN_grouped_df["Price"].mean()

total_purch_value_SN = SN_grouped_df["Price"].sum()

In [221]:
# Create a summary data frame to hold the results
top_spenders_df = pd.DataFrame({
    "Purchase Count": purch_count_SN,
    "Average Purchase Price": av_purch_price_SN,
    "Total Purchase Value": total_purch_value_SN,
})

In [222]:
# Use sort_values function to pass in the column name which you want to sort the DF on with ascending = False
sorted_spenders_df = top_spenders_df.sort_values(by= 'Total Purchase Value' , ascending = False)

# Formatting
sorted_spenders_df["Average Purchase Price"] = sorted_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
sorted_spenders_df["Total Purchase Value"] = sorted_spenders_df["Total Purchase Value"].map("${:,.2f}".format)

# Display DataFrame
sorted_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [223]:
# Most Popular Items

In [224]:
# Create new df from original df
ID_df = df.loc[:,["Item ID", "Item Name", "Price"]]

In [225]:
# Groupby item ID and name
ID_grouped = ID_df.groupby(["Item ID", "Item Name"])
# Apply aggregates

In [226]:
# A count will return how many times each game was purchased
purch_count_MP = ID_grouped.count()

# Item price is the sum divided by how many purchased
item_price = ID_grouped.sum() / purch_count_MP

# Total purchase value is purch count * item price
total_purch_value_MP = purch_count_MP * item_price

In [227]:
# Create a summary data frame to hold the results
most_popular_df = pd.DataFrame({
    "Purchase Count": purch_count_MP["Price"],
    "Item Price": item_price["Price"],
    "Total Purchase Value": total_purch_value_MP["Price"]
})

In [228]:
# Use sort_values function to pass in the column name which you want to sort the DF on with ascending = False
sorted_popular_df = most_popular_df.sort_values(by= 'Purchase Count', ascending = False)

# Formatting
sorted_popular_df["Item Price"] = sorted_popular_df["Item Price"].map("${:,.2f}".format)
sorted_popular_df["Total Purchase Value"] = sorted_popular_df["Total Purchase Value"].map("${:,.2f}".format)

# Display DataFrame
sorted_popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [229]:
# Most Profitable Items

In [230]:
# Sort the above by total purchase value instead
sorted_profitable_df = most_popular_df.sort_values(by= 'Total Purchase Value' , ascending = False)

# Formatting
sorted_profitable_df["Item Price"] = sorted_profitable_df["Item Price"].map("${:,.2f}".format)
sorted_profitable_df["Total Purchase Value"] = sorted_profitable_df["Total Purchase Value"].map("${:,.2f}".format)

# Display DataFrame
sorted_profitable_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80