In [92]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [93]:
cols=df.columns
cols

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [94]:
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [95]:
# Player Count - Display the total number of players
df["SN"].unique()
player_count = len (df["SN"].unique())
player_count

576

In [96]:
total_players_df = pd.DataFrame({
    "Total Players": [player_count]
})
total_players_df

   Total Players
0            576

In [97]:
# Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, number of purchases, total revenue
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

In [98]:
unique_items=len(df["Item Name"].unique())
unique_items

179

In [99]:
average_price=df["Price"].mean()
average_price

3.050987179487176

In [100]:
number_purchases=len(df["Purchase ID"])
number_purchases

780

In [101]:
total_revenue=df["Price"].sum()
total_revenue

2379.77

In [102]:
# Create a Summary DataFrame using a dictionary of lists
#https://stackoverflow.com/questions/20937538/how-to-display-pandas-dataframe-of-floats-using-a-format-string-for-columns
pd.options.display.float_format = '${:,.2f}'.format
summary_df = pd.DataFrame({
    "Unique Items": [unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [number_purchases],
    "Total Revenue": [total_revenue]
})
summary_df

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           179          $3.05                  780      $2,379.77

In [103]:
# Only formatted the float objects
summary_df.dtypes

Unique Items             int64
Average Price          float64
Number of Purchases      int64
Total Revenue          float64
dtype: object

In [104]:
# Gender Demographics
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed